# Python data structures - worksheet

### A note on commenting code: 
Code is commented to help show how it is used and to leave notes for future development.<br>
To create a comment, use the '#' sign.

EXAMPLE:

In [3]:
the computer will try to run this line of code since it is not commented out:

SyntaxError: invalid syntax (1599782328.py, line 1)

In [4]:
# since there is a '#' in front of this line of code, 
# it only exists as a comment, and not a command. 
# The computer will not try to execute this line as code.

## 1. Printing code

#### To print, code follow this formula:

In [5]:
# print(variable or string you want printed)

#### example:

In [6]:
print('hello world!')

hello world!

#### if you're printing a variable, you do not need to use quotes, but you must have previously assigned the variable:

In [7]:
# setting a variable:
y = 10
# printing y:
print(y)

10

In [8]:
# I have not assigned anything data to z:
print(z)

NameError: name 'z' is not defined

## 2. Lists

### a. Example of a Python list:

In [9]:
list_1 = ['learning', "Python", 'is fun?', True]

In [10]:
print(list_1)

['learning', 'Python', 'is fun?', True]

### b. Lists can be created by using list() function:

In [11]:
# Example:
list_2 = list(("learning", "for", "life", True))

In [12]:
print(list_2)

['learning', 'for', 'life', True]

### c. How to add an item to an existing list:

In [18]:
# Example: Add 10 to list list_1 from above.
list_1.append(10)

In [19]:
print(list_1)

['learning', 'Python', 'is fun?', True, 10]

### d. How to remove an item from an existing list:

In [20]:
# Example: Remove 10 from list_1.
list_1.remove(10)

In [21]:
print(list_1)

['learning', 'Python', 'is fun?', True]

### e. How to join two lists

In [22]:
list_3 = ['hi','dog','sleep']

In [23]:
list_3

['hi', 'dog', 'sleep']

In [24]:
list_4 = list_3 + list_1

In [25]:
print(list_4)

['hi', 'dog', 'sleep', 'learning', 'Python', 'is fun?', True]

### f. Lists of numbers
#### NOTE: If you want to use standard functions like mean & range, you have to import them from numpy else you can calculate them the traditional way using formulas

In [26]:
list_5 = [2,4,6,8]

In [32]:
# Example: Find Range and Mean of l3.
print(len(list_5))
print(sum(list_5))
print(min(list_5))
print(max(list_5))

4
20
2
8

In [33]:
# Range calculation
range_x = max(list_5)-min(list_5)

In [34]:
print(range_x)

6

In [35]:
# Mean calculation
mean_x = sum(list_5)/len(list_5)

In [36]:
print(mean_x)

5.0

In [38]:
# Count the occurances of an element in a given list.
# EXAMPLE: Count the occurences of 5 in list_6

In [39]:
list_6 = [0,1,3,3,5,5,7,9]

In [40]:
list_6.count(5)

2

### g. Sorting/reversing a list

In [41]:
list_6.sort(reverse=True)

In [42]:
print(list_6)

[9, 7, 5, 5, 3, 3, 1, 0]

In [43]:
list_6.sort()

In [44]:
print(list_6)

[0, 1, 3, 3, 5, 5, 7, 9]

# 3. Functions

General structure:

**def** function_name(args)**:**

    function code goes here

In [46]:
#EXAMPLE: Define a function with name **sum_3** which takes 3 numbers as input, and returns sum of them.
def sum_3(x,y,z):
    return x+y+z

In [47]:
answer = sum_3(1,2,3)

In [48]:
print(answer)

6

### a. Lambda Functions

= Anonymous functions or no name functions which can be used when you only need a function once.

In [49]:
# EXAMPLE: convert sum_3 from above into a lambda function.
sum_4 = lambda a,b,c:a+b+c

In [50]:
answer_2 = sum_4(1,2,3)

In [51]:
print(answer_2)

6

## 4. List Comprehension:

List comprehensions provide a concise way to create lists. <br>
Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.<br>

In [ ]:

squares = [x**2 for x in range(10)]
print(squares)

### Question 9:
Convert the elements (which are integers) of the above list "squares", to string type using list comprehension:

### Question 10:
Check the data-type of each element of the list using list comprehension: