# Python introduction

## Topics covered:

1. Data types <br>
    a. Numbers <br>
    b. Strings <br>
    c. Printing<br>
    d. Lists<br>
    e. Dictionaries<br>
    f. Booleans<br>
    g. Tuples <br>
    h. Sets<br>
2. comparison operators
3. if, elif, else statements
4. for Loops
5. while Loops
6. range
7. list comprehension
8. functions
9. lambda expressions

## 1. Data types

### a. Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### assigning variables

In [8]:
# NOTE: Do not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### b. strings

NOTE: make sure your quote marks match!

In [9]:
'single quotes'

'single quotes'

In [10]:
"double quotes"

'double quotes'

### c. printing

In [12]:
x = 'hello'

In [13]:
x

'hello'

In [14]:
print(x)

hello

In [15]:
num = 12
name = 'Sam'

### printing strings:

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### d. lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### e. dictionaries

In [22]:
d = {'key1':'item1','key2':'item2'}

In [23]:
d

{'key1': 'item1', 'key2': 'item2'}

In [24]:
d['key1']

'item1'

### f. booleans

In [25]:
True

True

In [26]:
False

False

### g. tuples

In [27]:
t = (1,2,3)

In [28]:
t[0]

1

In [29]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### h. sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## 2. Comparison operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## 3. logic operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## 4. if, elif, else statements

In [56]:
if 1 < 2:
    print('yes')

Yep!

In [57]:
if 1 < 2:
    print('yes')

yep!

In [58]:
if 1 < 2:
    print('horse')
else:
    print('cow')

first

In [59]:
if 1 > 2:
    print('horse')
else:
    print('cow')

last

In [60]:
if 1 == 2:
    print('horse')
elif 3 == 3:
    print('cow')
else:
    print('duck')

middle

## 5. Loops

### a. For loops

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

### b. While loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## 6. range

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## 7. list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## 8. functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## 9. lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2